*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

:root {
    --primary-color: #669933;
}
body{
   position: relative;
   background-color:rgb(235, 232, 232);
}
:root {
    --primary-color: #669933;
}
.header{
    height: 100px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    box-shadow: -10px 10px 10px rgba(66, 64, 64, 0.455);
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    z-index: 2;
}
.header img{
    height: 100%;
}
.input-container {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    /* padding: 10px; */
    height: 47px;
    margin:auto 20px;
    margin-right: 60px;
}

.input-container input {
    flex: 1;
    border: none;
    height: 36px;
    outline: none;
    padding:5px  10px;
}

.input-container button {
    margin-left: 10px;
    margin-right: -10px;
    border-radius: 5px;
    border: 1px solid rgba(205, 205, 205, 0.728);
    background-color: var(--primary-color);
    height: 49px;
    width: 49px;
    color: #ffffff;
    font-size: 24px;
    line-height: 49px;
}
.input-container button:hover{
    background-color: #5c9325;
    cursor: pointer;
    color: #ccc;
}
.header a{
    margin: auto 10px;
    text-decoration: none;
    color: black;
    padding: 7px;
    font-size: 20px;
    height: 30px;
    /* display: inline-block;
    position: relative; */
}
ul{
    list-style: none;
}
#sp >a:hover,
.header > a:hover{
    /* display: inline-block; */
    border-radius: 10px;
    background-color: var(--primary-color);
    color: white;
}

.header .subnav a:hover{
    border-radius: none;
    margin: 0;
    padding: 7px;
    background-color: var(--primary-color);
    color: white;
}
.header #sp{
    display: inline-block;
    margin: auto 0px 42px 0px;
    position: relative;
}
.header .subnav{
    display: none;
    width: 200px ;
    margin: auto 10px;
    text-decoration: none;
    color: black;
    line-height: 40px;
    position: absolute;
    top: 29px;
    background-color: rgb(255, 250, 250);
    border: 1px solid var(--primary-color);
}
.header .subnav a{
    display: block;
    margin: auto;
    border-radius: none;
}
.header #sp:hover .subnav{
    display: block;
}
.map{
    margin-top: 100px;
}
.lienhe{
    height: 550px;
    display: flex;
    justify-content: center;
    color: rgb(78, 12, 12);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.bio{
    margin-right: 90px;
}
.form{
    background-color: #ffffff;
    border-radius: 30px;
    width: 500px;
    height: 450px;
    margin-top: 40px;
    border: 1px solid var(--primary-color);
    box-shadow: 0px 0px 10px 3px var(--primary-color);
}
.form h1{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}
form{
    height: 350px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.form input{
    margin: auto;
    width: 90%;
    padding: 10px;
    margin-bottom: 0;
    margin-top: 10px;
    border-radius: 10px;
    outline: none;
    border: 1px solid var(--primary-color);
    background-color: antiquewhite;
}
.form textarea{
    width: 90%;
    margin: auto;
    border-radius: 10px;
    outline: none;
    margin-top: 20px;
    border: 1px solid var(--primary-color);
    background-color: antiquewhite;
    padding: 10px;
    resize: none;
}
form button{
    width: 93%;
    margin: auto;
    margin-top: 20px;
    height: 15%;
    border-radius: 40px;
    background-color: var(--primary-color);
    font-size: 18px;
    color: #ffffff;
    border: none;
}
form button:hover{  
  cursor: pointer;
  opacity: 0.8;
}
.bio h1{
    margin: 50px;
    margin-left: 0;
    font-size: 22px;
    text-transform: uppercase;
}
.bio h2{
    margin: 20px;
    margin-left: 0;
    font-size: 18px;
}
.bio li{
    font-size: 16px;
    line-height:40px ;
    
}.bio ul{
    margin-bottom: 20px;
}
.bio i{
    padding: 10px;
    border-radius: 50%;
    color: #ffffff;
}
.bio .ti-facebook{
    background-color: #3B5998;
}
.bio .ti-email{
    background-color: #70CADB;
}
.bio .ti-instagram{
    background-color: #E95950;
}
.bio .ti-linkedin {
    background-color: #0077B5;
}
.bio .ti-youtube{
    background-color: #E50914;
}
.bio i:hover{
    cursor: pointer;
}
.footer{
    background-color:rgb(117, 117, 117) ;
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;color: #fff;
}
.footer img{
    height: 60%;
    border-radius: 20px;
    margin-right: 50px;
    margin-top: auto;
    margin-bottom: auto;
}
.footer .con{
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 20px;
    line-height: 30px;
    display: flex;
    flex-direction: column;
    font-family: "Roboto Condensed", sans-serif;
}
.footer .con h1{
    margin-bottom: 10px;
    font-size: 22px;
}
.footer .con a{
    text-decoration: none;
    color: #fff;
    font-size: 15px;
}
.footer a:hover{
    color: var(--primary-color);
}
.footer li:hover{
    cursor: pointer;
}
.footer li{
    list-style:circle ;
}